.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

#light .header {
  background-color: var(--light-header-background-color);
  color: black;
}

#dark .header{
  background-color: var(--dark-header-background-color);
  color: white;
}