
#light .home-page{
  background-color: var(--ligth-background-color);
}

#dark .home-page{
  background-color: var(--dark-background-color);
}

.home-page{
  transition: 2s;
  position: absolute;
  width: 100%;
  height: calc(100% - 100px);
  top: 100px;
}